*{
      font-family: "Karla", sans-serif;
      padding: 0;
      margin: 0;
}
body{
    background: #ccc;
}
.container{
    width: 80%;
    margin: 0 auto;
}
/* Estilizações padrão flex blox */
.flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
     flex-direction: row;
}
/* Estilizações padrão flex blox */

/* Estilização do header */
#etapas-checkout{
    background-color: #0f9ab3;
    color: white;   
    height: 50px;
}

#etapas-checkout > .container{
    height: 100%;
}

.box-etapas{
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.box-etapas strong{
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 150%;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 700;
}       

.etapa-atual{
    color: black;
}
/* Estilização do header */


/*Estilização dos produtos do carrinho*/ 
#carrinho .container{
    padding: 80px;
    background-color: #fff;
    box-shadow: 3px 3px 10px black;
}
#carrinho{
    padding: 80px;
}

#area-um-carrinho{
    flex: 2;
}

#area-dois-carrinho{
    flex: 1;
}

.produto{
    height: 120px;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    border: 0.1px solid rgb(0, 0, 0);
    padding: 10px;
}
.produto div{
    display: flex;
    justify-content: center;
}
.produto div img{
    width: 100px;
    height: 100px;
}
.produto span{
    text-align: center;
    font-size: 2rem;
    color: red;
    font-weight: bold;
    cursor: pointer;
}
.produto strong{
    text-align: center;
}
.produto div,
.produto strong, 
.produto p,
.produto span{
    flex: 1;
    font-size: 1.1rem;
    text-transform: uppercase;

}


#area-dois-carrinho{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    border: 0.1px solid #000;
    font-size: 20px;
}

